---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hermes-pcui-endpoint-mock
    component: api
  name: hermes-pcui-endpoint-mock-api
  namespace: default
spec:
  progressDeadlineSeconds: 120
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hermes-pcui-endpoint-mock
      component: api
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
      labels:
        app: hermes-pcui-endpoint-mock
        component: api
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - hermes-pcui-endpoint-mock
                topologyKey: topology.kubernetes.io/zone
      containers:
        - image: binkcore.azurecr.io/hermes-pcui-endpoint-mock:latest
          imagePullPolicy: Always
          name: app
          ports:
            - containerPort: 9000
              name: http
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 2
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 10
          resources:
            limits:
              cpu: 1000m
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 256Mi
          securityContext:
            runAsGroup: 65534
            runAsUser: 65534
      serviceAccountName: hermes-pcui-endpoint-mock
      imagePullSecrets:
        - name: binkcore.azurecr.io
