---
bases:
  - ../../../../bases/olympus/atlas/api
  - ../../../../bases/olympus/atlas/consumer
  - ../../../../bases/olympus/atlas/migrator

namespace: trusted-channels

configMapGenerator:
  - name: atlas
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: atlas
      spec:
        template:
          spec:
            containers:
              - name: app
                envFrom:
                  - configMapRef:
                      name: atlas
