---
bases:
  - ../../../../bases/olympus/zephyrus

resources:
  - azureidentity.yaml

patches:
  - path: env.yaml
    target:
      kind: Deployment
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/replicas
        value: 3
