---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: policies
  name: policies
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: policies
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
      labels:
        app: policies
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - policies
                topologyKey: topology.kubernetes.io/zone
              weight: 100
      containers:
        - name: app
          image: binkcore.azurecr.io/policies.gb.bink.com:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            limits:
              memory: 64Mi
              cpu: 1000m
            requests:
              memory: 64Mi
              cpu: 10m
      priorityClassName: bink-medium-api
      imagePullSecrets:
        - name: binkcore.azurecr.io
