---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: wasabi-reporter
  name: wasabi-reporter
  namespace: monitoring
spec:
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: wasabi-reporter
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
      labels:
        app: wasabi-reporter
        aadpodidbinding: wasabireport
    spec:
      containers:
        - image: binkcore.azurecr.io/wasabi-reporter:latest
          imagePullPolicy: Always
          name: app
          resources:
            limits:
              cpu: 1000m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi
          securityContext:
            runAsGroup: 65534
            runAsUser: 65534
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: binkcore.azurecr.io
