---
bases:
  - ../../../../bases/infrastructure/postgres

namespace: bpl-testing

configMapGenerator:
  - name: postgres
    files:
      - dbs.sql

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: postgres
      spec:
        template:
          spec:
            containers:
              - name: app
                volumeMounts:
                  - name: config
                    mountPath: /docker-entrypoint-initdb.d/
            volumes:
              - name: config
                configMap:
                  name: postgres
