---
bases:
  - ../../../../bases/infrastructure/loganalytics-to-tableau

resources:
  - aad.yaml

namespace: tableau

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: app
      spec:
        template:
          spec:
            containers:
              - name: app
                env:
                  - name: pg_connection_string
                    valueFrom:
                      secretKeyRef:
                        key: tableau_postgres
                        name: azure-pgfs
                  - name: leader_election_enabled
                    value: 'true'
                  - name: redis_connection_string
                    valueFrom:
                      secretKeyRef:
                        key: uri_ssl
                        name: azure-redis-vnet
