---
resources:
  - ../base

nameSuffix: -task-worker

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: hubble
      spec:
        template:
          spec:
            containers:
              - name: app
                command: ["linkerd-await", "--"]
                args: ["python", "-m", "hubble.cli", "task-worker"]
