---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: bullsquid
    component: api
  name: bullsquid-api
  namespace: default
spec:
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  selector:
    matchLabels:
      app: bullsquid
      component: api
  template:
    metadata:
      labels:
        app: bullsquid
        component: api
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - bullsquid
                topologyKey: topology.kubernetes.io/zone
              weight: 100
      containers:
        - name: app
          image: binkcore.azurecr.io/bullsquid:latest
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /livez
              port: 6502
              scheme: HTTP
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /readyz
              port: 6502
              scheme: HTTP
            periodSeconds: 30
          resources:
            requests:
              cpu: 10m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 256Mi
      imagePullSecrets:
        - name: binkcore.azurecr.io
