---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: pushgateway
        namespace: default
      spec:
        template:
          spec:
            containers:
              - name: pushgateway
                image: binkcore.azurecr.io/pushgateway:v1.5.1
                args:
                  - --web.listen-address=0.0.0.0:9100
                imagePullPolicy: Always
                ports:
                  - containerPort: 9100
                    protocol: TCP
                resources:
                  limits:
                    memory: 64Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
            imagePullSecrets:
              - name: binkcore.azurecr.io
