bases:
- ../../../../bases/infrastructure/binklink

resources:
- ingress.yaml
- cert.yaml

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/replicas
        value: 3
