---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pypicloud
  namespace: flux-system
spec:
  interval: 60m0s
  path: ./overlays/uksouth-prod/devops/pypicloud
  dependsOn:
    - name: linkerd-control-plane
    - name: ingress-nginx
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
