---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 60m0s
  path: ./overlays/uksouth-prod/grafana
  prune: true
  force: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
    - kind: Secret
      name: azure-storage
    - kind: ConfigMap
      name: cluster-vars
