---
resources:
  - ../../../../bases/olympus/harmonia/api
  - ../../../../bases/olympus/harmonia/export-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/export-retry-worker
  - ../../../../bases/olympus/harmonia/export-worker
  - ../../../../bases/olympus/harmonia/import-agent-amex-auth
  - ../../../../bases/olympus/harmonia/import-agent-amex-settlement
  - ../../../../bases/olympus/harmonia/import-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/import-agent-mastercard-auth
  - ../../../../bases/olympus/harmonia/import-agent-mastercard-settled
  - ../../../../bases/olympus/harmonia/import-agent-visa-auth
  - ../../../../bases/olympus/harmonia/import-agent-visa-refund
  - ../../../../bases/olympus/harmonia/import-agent-visa-settle
  - ../../../../bases/olympus/harmonia/import-agent-wasabi-club
  - ../../../../bases/olympus/harmonia/import-worker
  - ../../../../bases/olympus/harmonia/identify-worker
  - ../../../../bases/olympus/harmonia/matching-worker
  - ../../../../bases/olympus/harmonia/matching-worker-slow
  - ../../../../bases/olympus/harmonia/streaming-worker
  - ../../../../bases/olympus/harmonia/purgedb
  - ../../../../bases/olympus/harmonia/migrator
  - aad.yaml

replicas:
  - name: harmonia
    count: 1

namespace: default

configMapGenerator:
  - name: harmonia
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name": "TXM_BLOB_STORAGE_DSN", "valueFrom": {"secretKeyRef": {"key": "connection_string_primary", "name": "azure-storage"}}}
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name": "TXM_REDIS_URL", "valueFrom": {"secretKeyRef": {"key": "url_primary", "name": "azure-redis"}}}
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name": "TXM_POSTGRES_URI", "valueFrom": {"secretKeyRef": {"key": "url_harmonia", "name": "azure-postgres"}}}
  - target:
      kind: CronJob
    patch: |
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name": "TXM_BLOB_STORAGE_DSN", "valueFrom": {"secretKeyRef": {"key": "connection_string_primary", "name": "azure-storage"}}}
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name": "TXM_REDIS_URL", "valueFrom": {"secretKeyRef": {"key": "url_primary", "name": "azure-redis"}}}
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name": "TXM_POSTGRES_URI", "valueFrom": {"secretKeyRef": {"key": "url_harmonia", "name": "azure-postgres"}}}

  - target:
      kind: CronJob
    patch: |
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/env
        value:
          - name: TXM_BLOB_STORAGE_DSN
            valueFrom:
              secretKeyRef:
                key: connection_string_primary
                name: azure-storage
          - name: TXM_REDIS_URL
            valueFrom:
              secretKeyRef:
                key: url_primary
                name: azure-redis
          - name: TXM_POSTGRES_URI
            valueFrom:
              secretKeyRef:
                name: azure-postgres
                key: url_harmonia

  - target:
      kind: Deployment
      name: harmonia-import-agent-wasabi-club
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 5Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 5Gi

  - target:
      kind: Deployment
      name: harmonia-matching-worker
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 1Gi

  - target:
      kind: Deployment
      name: harmonia-export-worker
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 500Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 500Mi
