apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../bases/olympus/harmonia/essentials
  - ../../../../bases/olympus/harmonia/deployments/api
  - ../../../../bases/olympus/harmonia/deployments/export-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/deployments/export-retry-worker
  - ../../../../bases/olympus/harmonia/deployments/export-worker
  - ../../../../bases/olympus/harmonia/deployments/import-agent-amex-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-amex-settlement
  - ../../../../bases/olympus/harmonia/deployments/import-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/deployments/import-agent-mastercard-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-mastercard-settled
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-refund
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-settle
  - ../../../../bases/olympus/harmonia/deployments/import-agent-wasabi-club
  - ../../../../bases/olympus/harmonia/deployments/import-worker
  - ../../../../bases/olympus/harmonia/deployments/identify-worker
  - ../../../../bases/olympus/harmonia/deployments/matching-worker
  - ../../../../bases/olympus/harmonia/deployments/matching-worker-slow
  - ../../../../bases/olympus/harmonia/deployments/streaming-worker
  - ../../../../bases/olympus/harmonia/deployments/purgedb
namespace: default
configMapGenerator:
  - name: harmonia
    envs:
      - env.ini
patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_BLOB_STORAGE_DSN","valueFrom":{"secretKeyRef":{"key":"blob_connection_string_primary","name":"azure-storage"}}}
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_REDIS_URL","valueFrom":{"secretKeyRef":{"key":"url_primary","name":"azure-redis"}}}
  - target:
      kind: Job
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_REDIS_URL","valueFrom":{"secretKeyRef":{"key":"url_primary","name":"azure-redis"}}}
  - target:
      kind: CronJob
    patch: |
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name":"TXM_BLOB_STORAGE_DSN","valueFrom":{"secretKeyRef":{"key":"blob_connection_string_primary","name":"azure-storage"}}}
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name":"TXM_REDIS_URL","valueFrom":{"secretKeyRef":{"key":"url_primary","name":"azure-redis"}}}
  - target:
      kind: Deployment
      name: harmonia-import-agent-wasabi-club
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 5Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 5Gi
  - target:
      kind: Deployment
      name: harmonia-matching-worker
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 1Gi
  - target:
      kind: Deployment
      name: harmonia-export-worker
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 500Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 500Mi
