[transforms.elasticsearch_sucks]
type = "remap"
inputs = ["kubernetes_logs"]
source = """
. = map_keys(., recursive: true) -> |key| { replace(key, ".", "_") }
"""

[sinks.loganalytics]
type = "azure_monitor_logs"
inputs = ["kubernetes_logs"]
azure_resource_id = "/subscriptions/0add5c8e-50a6-4821-be0f-7a47c879b009/resourcegroups/uksouth-loganalytics/providers/microsoft.operationalinsights/workspaces/uksouth-loganalytics"
customer_id = "eed2b98d-3396-4972-be3e-3e744532f7cd"
host = "ods.opinsights.azure.com"
log_type = "kubernetes_prod"
shared_key = "p6KTG57eZlZ9usb2A4V3/3Ey8tPJBo6WG5+HNELFgwuuEWLH7yciDyqPdbtAWJwcjF2urH1SiYwaX8zz78/Q0g=="

[sinks.elasticsearch]
type = "elasticsearch"
inputs = ["elasticsearch_sucks"]
compression = "none"
healthcheck = true
endpoint = "https://opensearch.core.uksouth.bink.host:9200"
[sinks.elasticsearch.tls]
ca_file = "/opensearch/opensearch-ca.pem"
[sinks.elasticsearch.auth]
strategy = "basic"
user = "vector"
password = "4iBEQ4dJ3d!d4JDXi77L!cmzwjkv2gb!"
[sinks.elasticsearch.bulk]
index = "vector-prod-%F"
