---
bases:
  - ../../../../bases/cosmos/hubble/core
  - ../../../../bases/cosmos/hubble/consumer
  - ../../../../bases/cosmos/hubble/migrator

namespace: bpl

configMapGenerator:
  - name: hubble
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: hubble
      spec:
        template:
          spec:
            containers:
              - name: app
                envFrom:
                  - configMapRef:
                      name: hubble
                env:
                  - name: DATABASE_URI
                    valueFrom:
                      secretKeyRef:
                        name: azure-pgfs
                        key: common_placeholder
