apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 60m0s
  path: ./overlays/uksouth-tools/grafana
  prune: true
  dependsOn:
    - name: linkerd-servicemesh
    - name: linkerd-viz
    - name: keyvault2kube
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
