---
bases:
  - ../../../bases/infrastructure/vector

namespace: vector

configMapGenerator:
  - name: vector
    behavior: merge
    files:
      - vector.toml

secretGenerator:
  - name: vector-opensearch
    files:
      - opensearch-ca.pem

patches:
  - target:
      kind: DaemonSet
    patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: vector
      spec:
        template:
          spec:
            containers:
              - name: vector
                volumeMounts:
                  - mountPath: /opensearch
                    name: opensearch
                    readOnly: true
            volumes:
              - name: opensearch
                secret:
                  secretName: vector-opensearch
