---
bases:
  - https://raw.githubusercontent.com/Azure/aad-pod-identity/v1.8.6/deploy/infra/deployment-rbac.yaml

namespace: kube-system

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /metadata/annotations/buoyant.cloud~1excluded
        value: "true"
  - target:
      kind: DaemonSet
    patch: |-
      - op: add
        path: /metadata/annotations/buoyant.cloud~1excluded
        value: "true"
