resources:
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - deployment.yaml
  - service.yaml
  - serviceaccount.yaml

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /metadata/annotations/buoyant.cloud~1excluded
        value: "true"
