---
resources:
  - ../core

commonLabels:
  component: consumer-dlx

nameSuffix: -consumer-dlx

patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1port
        value: 9100
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1scrape
        value: true
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1job
        value: boreas-consumer-dlx
      - op: add
        path: /spec/template/spec/containers/0/args
        value: ["python", "/app/dlx_consumer.py"]
      - op: add
        path: /spec/template/spec/priorityClassName
        value: bink-low-api