apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
  name: prometheus
  namespace: default
spec:
  ports:
  - name: tcp
    port: 9090
    protocol: TCP
  - name: cred-pusher
    port: 8080
    protocol: TCP
  selector:
    app: prometheus
  sessionAffinity: None
  type: ClusterIP

