---
bases:
  - ../../../../bases/olympus/angelia

resources:
  - aad.yaml

namespace: trusted-channels

configMapGenerator:
  - name: angelia
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: angelia
      spec:
        template:
          spec:
            containers:
              - name: app
                envFrom:
                  - configMapRef:
                      name: angelia
