---
global:
  resolve_timeout: 5m
  opsgenie_api_key: d91df60f-0052-4e54-b750-ff23bc731d46
  opsgenie_api_url: https://api.opsgenie.com/

route:
  group_by: [alertname]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: teams_alerts_devops_no_resolve
  routes:
    #Production
    - match:
        severity: p1
        cluster: prod
        resolve: ^(true|false)$
      continue: true
      receiver: opsgenie
    - match:
        severity: p1
        cluster: prod
        resolve: true
      continue: true
      receiver: teams_alerts_production
    - match:
        severity: p1
        cluster: prod
        resolve: false
      continue: true
      receiver: teams_alerts_production_no_resolve
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: prod
        resolve: true
      continue: true
      receiver: teams_alerts_production
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: prod
        resolve: false
      continue: true
      receiver: teams_alerts_production_no_resolve

    #Staging
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: staging
        resolve: ^(true|false)$
      continue: true
      receiver: teams_alerts_staging

    #Dev
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: dev
        resolve: ^(true|false)$
      continue: true
      receiver: teams_alerts_development

    #DevOps
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: devops
        resolve: true
      continue: true
      receiver: teams_alerts_devops
    - match_re:
        severity: ^(p2|p3|p4)$
        cluster: devops
        resolve: false
      continue: true
      receiver: teams_alerts_devops_no_resolve

    #Testing
    - match_re:
        severity: ^(p1|p2|p3|p4)$
        testing: true
      continue: true
      receiver: teams_devops_test
    - match_re:
        severity: ^(p1|p2|p3|p4)$
        testing: true
        callout: true
      continue: true
      receiver: opsgenie


receivers:
  - name: teams_alerts_production
    webhook_configs:
      - url: http://localhost:2000/alerts_production
        send_resolved: true

  - name: teams_alerts_production_no_resolve
    webhook_configs:
      - url: http://localhost:2000/alerts_production
        send_resolved: false

  - name: teams_alerts_staging
    webhook_configs:
      - url: http://localhost:2000/alerts_staging
        send_resolved: true

  - name: teams_alerts_development
    webhook_configs:
      - url: http://localhost:2000/alerts_development
        send_resolved: true

  - name: teams_alerts_devops
    webhook_configs:
      - url: http://localhost:2000/alerts_devops
        send_resolved: true

  - name: teams_alerts_devops_no_resolve
    webhook_configs:
      - url: http://localhost:2000/alerts_devops
        send_resolved: false

  - name: teams_devops_test
    webhook_configs:
      - url: http://localhost:2000/devops_test
        send_resolved: true

  - name: opsgenie
    opsgenie_configs:
      - send_resolved: false
        responders:
          - name: DevOps
            type: team
