---
bases:
  - ../../../../bases/infrastructure/simpleproxy

commonLabels:
  app: proxy-postgres

namespace: tableau

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /metadata/name
        value: proxy-postgres
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args
        value:
          - -L
          - 0.0.0.0:5432
          - -R
          - bink-uksouth-tableau.postgres.database.azure.com:5432
          - -v
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/metadata/annotations/linkerd.io~1inject
        value: enabled
