kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: backups
  namespace: backups
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: backups
  storageClassName: azureblob-nfs-standard
