resources:
  - ../../bases/deployments

commonLabels:
  type: transactor
  entity: squaremeal

nameSuffix: -transactor-squaremeal

patches:
  - target:
      kind: Deployment
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/args
        value: [ transactor ]
