---
bases:
  - ../core

commonLabels:
  component: matching-worker

nameSuffix: -matching-worker

patches:
  - target:
      kind: Deployment
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: harmonia
        namespace: default
      spec:
        template:
          metadata:
            annotations:
              prometheus.io/port: '9100'
              prometheus.io/scrape: 'true'
              prometheus.io/job: harmonia-matching-worker
          spec:
            containers:
              - name: app
                args: ["txcore", "worker"]
                env:
                  - name: TXM_RQ_QUEUES
                    value: matching
            priorityClassName: bink-low-tasks
