apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../bases/olympus/harmonia/essentials
  - ../../../../bases/olympus/harmonia/deployments/api
  - ../../../../bases/olympus/harmonia/deployments/export-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/deployments/export-retry-worker
  - ../../../../bases/olympus/harmonia/deployments/export-worker
  - ../../../../bases/olympus/harmonia/deployments/import-agent-amex-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-amex-settlement
  - ../../../../bases/olympus/harmonia/deployments/import-agent-costa
  - ../../../../bases/olympus/harmonia/deployments/import-agent-iceland-bonus-card
  - ../../../../bases/olympus/harmonia/deployments/import-agent-mastercard-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-mastercard-settled
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-auth
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-refund
  - ../../../../bases/olympus/harmonia/deployments/import-agent-visa-settle
  - ../../../../bases/olympus/harmonia/deployments/import-agent-wasabi-club
  - ../../../../bases/olympus/harmonia/deployments/import-worker
  - ../../../../bases/olympus/harmonia/deployments/identify-worker
  - ../../../../bases/olympus/harmonia/deployments/matching-worker
  - ../../../../bases/olympus/harmonia/deployments/matching-worker-slow
  - ../../../../bases/olympus/harmonia/deployments/streaming-worker
  - ../../../../bases/olympus/harmonia/deployments/purgedb
namespace: default
configMapGenerator:
  - name: harmonia
    envs:
      - env.ini
patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_BLOB_STORAGE_DSN","valueFrom":{"secretKeyRef":{"key":"nfs_connection_string_primary","name":"azure-storage"}}}
  - target:
      kind: CronJob
    patch: |
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/env/-
        value: {"name":"TXM_BLOB_STORAGE_DSN","valueFrom":{"secretKeyRef":{"key":"nfs_connection_string_primary","name":"azure-storage"}}}
  - target:
      kind: Deployment
      name: harmonia-export-agent-iceland-bonus-card
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_LOG_LEVEL","value":"info"}
  - target:
      kind: Deployment
      name: harmonia-import-agent-iceland-bonus-card
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value: {"name":"TXM_LOG_LEVEL","value":"info"}
