---
bases:
  - ../../../../bases/olympus/pelops

namespace: default

configMapGenerator:
  - name: pelops
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value:
          - configMapRef:
              name: pelops
      - op: add
        path: /spec/template/spec/priorityClassName
        value: bink-low-api
