---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 60m0s
  path: ./overlays/uksouth-sandbox/ingress-nginx
  prune: true
  force: true
  dependsOn:
    - name: linkerd-control-plane
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-vars
