---
bases:
  - ../../../../bases/olympus/asteria

replicas:
  - name: asteria
    count: 1

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: envs
      spec:
        template:
          spec:
            containers:
              - name: app
                env:
                  - name: POSTGRES_DSN
                    valueFrom:
                      secretKeyRef:
                        name: azure-postgres
                        key: url_hermes
