bases:
  - ../../../../../bases/devops/snowstorm/essentials

patches:
  - target:
      kind: ServiceAccount
    patch: |
      - op: add
        path: /metadata/annotations
        value:
          azure.workload.identity/client-id: ac932c41-d1a8-4640-94ea-4bb4479543b2
  - target:
      kind: Job
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/2/value
        value: redis://redis:6379/0
      - op: remove
        path: /spec/template/spec/containers/0/env/2/valueFrom
