---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: atlas
  namespace: default
spec:
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - atlas
                topologyKey: topology.kubernetes.io/zone
              weight: 100
      containers:
        - name: app
          env:
            - name: AMQP_DSN
              valueFrom:
                secretKeyRef:
                  key: url
                  name: azure-cloudamqp
          image: binkcore.azurecr.io/atlas:latest
          imagePullPolicy: Always
          securityContext:
            runAsGroup: 65534
            runAsUser: 65534
      imagePullSecrets:
        - name: binkcore.azurecr.io
