apiVersion: v1
kind: Service
metadata:
  labels:
    app: alertmanager
  name: alertmanager
  namespace: default
spec:
  ports:
  - name: tcp
    port: 9093
    protocol: TCP
  selector:
    app: alertmanager
  sessionAffinity: None
  type: ClusterIP
