apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager
  labels:
    app: alertmanager
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
