---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: hades
    component: api
  name: hades
  namespace: default
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 9000
  selector:
    app: hades
    component: api
  sessionAffinity: None
  type: ClusterIP
