apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/service-upstream: "true"
  name: asset-register.tools.bink.sh
  namespace: default
spec:
  rules:
  - host: asset-register.tools.bink.sh
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: asset-register
            port:
              number: 80
  tls:
  - hosts:
    - asset-register.tools.bink.sh
    secretName: asset-register.tools.bink.sh
