---
bases:
  - ../../../../bases/cosmos/luna

namespace: bpl-testing

configMapGenerator:
  - name: luna
    envs:
      - env.ini

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: luna
      spec:
        template:
          spec:
            containers:
              - name: app
                envFrom:
                  - configMapRef:
                      name: luna
