---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: selene
  name: selene
  namespace: default
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 9000
  selector:
    app: selene
  sessionAffinity: None
  type: ClusterIP
