apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: sit-ingress
  namespace: flux-system
spec:
  interval: 60m0s
  path: ./overlays/uksouth-sandbox/sit/ingress
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    postBuild:
    substituteFrom:
    - kind: ConfigMap
      name: cluster-vars
