---
bases:
  - ../base

nameSuffix: -loader

commonLabels:
  app: pyxis
  component: loader

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: pyxis
      spec:
        strategy:
          type: Recreate
        template:
          spec:
            containers:
              - name: app
                command:
                  - tail
                  - -f
                  - /dev/null
                resources:
                  limits:
                    memory: 4Gi
                  requests:
                    cpu: 1000m
                    memory: 4Gi
