---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: aperture
  name: aperture
  namespace: default
spec:
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  selector:
    matchLabels:
      app: aperture
  template:
    metadata:
      labels:
        app: aperture
      annotations:
        linkerd.io/inject: enabled
        kubectl.kubernetes.io/default-container: app
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - aperture
                topologyKey: topology.kubernetes.io/zone
              weight: 100
      containers:
        - name: app
          image: binkcore.azurecr.io/aperture:latest
          imagePullPolicy: Always
      priorityClassName: bink-high-api
      imagePullSecrets:
        - name: binkcore.azurecr.io
