---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: lethe
  name: lethe
  namespace: default
spec:
  selector:
    matchLabels:
      app: lethe
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
        prometheus.io/port: '9100'
        prometheus.io/scrape: 'true'
        prometheus.io/job: lethe
        kubectl.kubernetes.io/default-container: app
      labels:
        app: lethe
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - lethe
                topologyKey: topology.kubernetes.io/zone
      containers:
        - name: app
          image: binkcore.azurecr.io/lethe:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /livez
              port: 9000
              scheme: HTTP
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 10
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 9000
              scheme: HTTP
            periodSeconds: 120
            successThreshold: 1
            timeoutSeconds: 10
          ports:
            - containerPort: 9000
              protocol: TCP
          resources:
            limits:
              cpu: 1000m
              memory: 384Mi
            requests:
              memory: 384Mi
              cpu: 10m
      imagePullSecrets:
        - name: binkcore.azurecr.io
